@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}
